#dadosPessoais {
   background-color: rgb(219, 102, 6);
}


#objetivo {
    background-image: url(../imagens/objetivo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

#education {
    background-image: url(../imagens/education.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:scroll;
}

#experiencia {
    background-image: url(../imagens/office2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color:rgb(224, 123, 7);
}

#habilidades {
    background-image: url(../imagens/habilidades.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}


img.rp {
    width: 150px;
    height: 50px;
}

img.arca {
    width: 90px;
    height: 90px;
}

img.besche {
    width: 90px;
    height: 90px;
}

img, h3 {
    display: inline-block;
}

h1, h2, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}