body {
    background-color: rgb(255, 255, 255);
}
img.rp {
    width: 150px;
    height: 50px;
}

img.arca {
    width: 90px;
    height: 90px;
}

img.besche {
    width: 90px;
    height: 90px;
}

img, h3 {
    display: inline-block;
}

h1, h2, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    text-align: center;
    color: purple;
}

#copy, #autor, #contato {
    display: inline-block;
}