body {
    background-image: url(../image/desafio.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(248, 248, 245);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(248, 248, 245);
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(248,248,245);
}