body {
    background-image: url(../image/desafio.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: hsl(185, 98%, 50%);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(185, 98%, 50%);
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(185, 98%, 50%);
}