h1, h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}